<meta charset="UTF-8">
  <meta name="description" content="News-Flask">

  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <link rel="manifest" href="{{ url_for('static', filename='manifest2.json') }}">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="transparent">
  <link rel="apple-touch-icon" href="{{ url_for('static', filename='images/icons/icon-152x152.png') }}">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='css/style.css') }}" type="image/x-icon">


  <meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

 .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #000000 !important;
}
 
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

#myBtn:hover {
  background-color: #555;
}
</style>

<button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>

<script>
//Get the button
var mybutton = document.getElementById("myBtn");

// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>


    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="https://newswebs.herokuapp.com/">NewsHome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://newswebs.herokuapp.com/fr">Fr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://newswebs.herokuapp.com/en">En</a>
      </li>   
    </ul>
    <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button id="installButton"   style="visibility:hidden;">Install App</button>
      
    </li>
  </ul>
  </div>  
</nav>
<br>




<main role="main" class="container">
  <div class="jumbotron text-center">
   <p><a class="btn btn-primary" data-toggle="collapse" href="#CNN" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">CNN</a></p>

    <div class="collapse multi-collapse" id="CNN">
      <div class="card card-body">
         {% for key in CNN%}
        <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img border="0"  class="img-fluid"   src='{{CNN[key]["img"]}}' >
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">CNN</h5>
      <p>{{CNN[key]["title"]}}</p>
      <a href='{{CNN[key]["link"]}}' class="stretched-link" target="_blank">Go</a>
    </div>
  </div>
<br>
       {% endfor %}
      </div>
    </div>
  </div>
   
</div>
</main>

<main role="main" class="container">
  <div class="jumbotron text-center">
   <p><a class="btn btn-primary" data-toggle="collapse" href="#FoxNews" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">FoxNews</a></p>

    <div class="collapse multi-collapse" id="FoxNews">
      <div class="card card-body">
         {% for key in FoxNews%}
        <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img border="0"  class="img-fluid"   src='{{FoxNews[key]["img"]}}' >
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">FoxNews</h5>
      <p>{{FoxNews[key]["title"]}}</p>
      <a href='{{FoxNews[key]["link"]}}' class="stretched-link" target="_blank">Go</a>
    </div>
  </div>
<br>
       {% endfor %}
      </div>
    </div>
  </div>
   
</div>
</main>


<main role="main" class="container">
  <div class="jumbotron text-center">
   <p><a class="btn btn-primary" data-toggle="collapse" href="#TheGuardian" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">TheGuardian</a></p>

    <div class="collapse multi-collapse" id="TheGuardian">
      <div class="card card-body">
         {% for key in TheGuardian%}
        <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img border="0"  class="img-fluid"   src='{{TheGuardian[key]["img"]}}' >
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">TheGuardian</h5>
      <p>{{TheGuardian[key]["title"]}}</p>
      <a href='{{TheGuardian[key]["link"]}}' class="stretched-link" target="_blank">Go</a>
    </div>
  </div>
<br>
       {% endfor %}
      </div>
    </div>
  </div>
   
</div>
</main>



<main role="main" class="container">
  <div class="jumbotron text-center">
   <p><a class="btn btn-primary" data-toggle="collapse" href="#AbcNews" role="button" aria-expanded="false" aria-controls="multiCollapseExample1">AbcNews</a></p>

    <div class="collapse multi-collapse" id="AbcNews">
      <div class="card card-body">
         {% for key in AbcNews%}
        <div class="row no-gutters bg-light position-relative">
    <div class="col-md-6 mb-md-0 p-md-4">
      <img border="0"  class="img-fluid"   src='{{AbcNews[key]["img"]}}' >
    </div>
    <div class="col-md-6 position-static p-4 pl-md-0">
      <h5 class="mt-0">AbcNews</h5>
      <p>{{AbcNews[key]["title"]}}</p>
      <a href='{{AbcNews[key]["link"]}}' class="stretched-link" target="_blank">Go</a>
    </div>
  </div>
<br>
       {% endfor %}
      </div>
    </div>
  </div>
   
</div>
</main>


<script type="text/javascript" src="{{ url_for('static', filename='js/app.js') }}"></script>
