<meta name="viewport" content="width=device-width, initial-scale=1">
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

    <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <a class="navbar-brand" href="https://newswebs.herokuapp.com/">NewsHome</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="https://newswebs.herokuapp.com/fr">Fr</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://newswebs.herokuapp.com/en">En</a>
      </li>   
    </ul>
  </div>  
</nav>
<br>



<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in LeMonde%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}" class="img-fluid"   src='{{LeMonde[key]["img"]}}' >
        </br>
        <a href='{{LeMonde[key]["link"]}}' target="_blank">{{LeMonde[key]["title"]}}</a>
        </br>
        </br>
        {% endfor %}
    </div>
</main>

<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in LeParisien%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}"  class="img-fluid"   src='{{LeParisien[key]["img"]}}' >
    </br>
        <a href='{{LeParisien[key]["link"]}}' target="_blank" >{{LeParisien[key]["title"]}}</a>
        
        </br>
        </br>
        {% endfor %}
    </div>
</main>

<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in MediaPart%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}" class="img-fluid"   src='{{MediaPart[key]["img"]}}' >
    </br>
        <a href='{{MediaPart[key]["link"]}}' target="_blank">{{MediaPart[key]["title"]}}</a>
        </br>
        </br>
        {% endfor %}
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in BFMTV%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}"  class="img-fluid"   src='{{BFMTV[key]["img"]}}' >
    </br>
        <a href='{{BFMTV[key]["link"]}}' target="_blank">{{BFMTV[key]["title"]}}</a>
        </br>
        </br>
        {% endfor %}
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in Liberation%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}"  class="img-fluid"   src='{{Liberation[key]["img"]}}' >
    </br>
        <a href='{{Liberation[key]["link"]}}' target="_blank">{{Liberation[key]["title"]}}</a>
        </br>
        </br>
        {% endfor %}
    </div>
</main>
<main role="main" class="container">
    <div class="jumbotron text-center">
        {% for key in FranceTvINFO%}
        <img border="0" onerror="this.onerror=null; this.src={{url_for('static', filename='Default.png')}}"  class="img-fluid"   src='{{FranceTvINFO[key]["img"]}}' >
    </br>
        <a href='{{FranceTvINFO[key]["link"]}}' target="_blank" >{{FranceTvINFO[key]["title"]}}</a>
        </br>
        </br>
        {% endfor %}
    </div>
</main>

